# === Terraform ===
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl

# Local environment files
.env
*.log

# === Kubernetes ===
# Ignore temporary or generated YAMLs
*.tmp.yaml
*.bak
*.swp
create-admin.yaml
plausible-secret.yaml
deployment.yaml
service.yaml
# === OS Files ===
.DS_Store
Thumbs.db

# === VSCode ===
.vscode/

